In [22]:
import importlib
import pandas as pd
import numpy as np
import company as co
# from company import Company
importlib.reload(co)

pd.options.display.max_colwidth = 20
pd.options.display.max_rows = 40

In [23]:
petro = co.Company(9512)
petro.assets

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,COLUNA_DF,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,NaN,3.504189e+11,5.168457e+11,6.000970e+11,6.690316e+11,7.529670e+11,7.933750e+11,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,NaN,7.437357e+10,1.059022e+11,1.211637e+11,1.181018e+11,1.233510e+11,1.350230e+11,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,NaN,2.903423e+10,2.941619e+10,3.574724e+10,2.762800e+10,3.717200e+10,4.423900e+10,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Caixa e Bancos,1.01.01.01,False,NaN,2.853964e+09,3.293879e+09,3.731249e+09,2.024301e+09,2.227292e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aplicações Finan...,1.01.01.02,False,NaN,2.618026e+10,2.612231e+10,3.201599e+10,2.560370e+10,3.494453e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Outros Ativos Nã...,1.02.01.10,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.208000e+10,3.664900e+10,3.925900e+10,4.113700e+10,4.519000e+10
83,Adiantamento a F...,1.02.01.10.03,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.413000e+09,2.575000e+09,1.313000e+09,NaN,NaN
84,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.846500e+10,2.600300e+10,3.319800e+10,3.783800e+10,4.269100e+10
85,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.020200e+10,8.071000e+09,6.061000e+09,3.299000e+09,2.499000e+09
86,Depósitos Vincul...,1.01.08.03.01,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.287000e+09,NaN,NaN,NaN

In [12]:
petro.assets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 86
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DS_CONTA       87 non-null     object
 1   CD_CONTA       87 non-null     object
 2   ST_CONTA_FIXA  87 non-null     bool
 3   COLUNA_DF      0 non-null      object
 4   2009-12-31     61 non-null     float64
 5   2010-12-31     62 non-null     float64
 6   2011-12-31     63 non-null     float64
 7   2012-12-31     64 non-null     float64
 8   2013-12-31     65 non-null     float64
 9   2014-12-31     30 non-null     float64
 10  2015-12-31     30 non-null     float64
 11  2016-12-31     29 non-null     float64
 12  2017-12-31     38 non-null     float64
 13  2018-12-31     29 non-null     float64
 14  2019-12-31     28 non-null     float64
 15  2020-12-31     27 non-null     float64
 16  2021-09-30     27 non-null     float64
dtypes: bool(1), float64(13), object(3)
memory usage: 11.6+ KB

In [24]:
petro.liabilities_and_equity

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,COLUNA_DF,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Passivo Total,2,True,NaN,3.504189e+11,5.168457e+11,6.000970e+11,6.690316e+11,7.529670e+11,7.933750e+11,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Passivo Circulante,2.01,True,NaN,5.516193e+10,5.594763e+10,6.821233e+10,6.962058e+10,8.252500e+10,8.265900e+10,1.115720e+11,8.116700e+10,8.253500e+10,9.706800e+10,1.161470e+11,1.362870e+11,1.386640e+11
2,Obrigações Socia...,2.01.01,True,NaN,2.303943e+09,2.551065e+09,4.742206e+09,4.420579e+09,4.806000e+09,5.489000e+09,5.085000e+09,7.159000e+09,4.331000e+09,6.426000e+09,6.632000e+09,1.015000e+10,9.182000e+09
3,Obrigações Sociais,2.01.01.01,True,NaN,3.244340e+08,4.202850e+08,4.364810e+08,7.610600e+08,6.974300e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Obrigações Traba...,2.01.01.02,True,NaN,1.979509e+09,2.130780e+09,4.305725e+09,3.659519e+09,4.108691e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Provisões Cíveis,2.01.06.01.04,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
83,Financiamento po...,2.02.01.03,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.750000e+08,6.260000e+08,7.305300e+10,8.289700e+10,9.346000e+10
84,Imposto de renda...,2.02.02.02.03,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.219000e+09,2.139000e+09,2.031000e+09,1.853000e+09,1.722000e+09
85,Acordo com autor...,2.01.05.02.05,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.034000e+09,NaN,NaN,NaN
86,Outras Provisões,2.02.04.02.07,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.443000e+09,1.145400e+10,1.242900e+10

In [197]:
df.DT_FIM_EXERC.nunique()

13

In [ ]:
for column, c_type in zip(df.columns, df.dtypes):
    if (c_type != 'int8') and (c_type != 'bool') and (c_type != 'float64'):
        print(column, c_type)
        df[f'{column}'] = df[f'{column}'].astype('category')