In [1]:
import importlib
import pandas as pd

pd.options.display.max_colwidth = 15
pd.options.display.max_rows = 4

In [9]:
file_path = './data/processed/dataset.pkl'
df = pd.read_pickle(file_path, compression='zstd')
# with open('./data/processed/dataset.pkl', 'rb') as f:
#     df = joblib.load(f)
df

,CD_CVM,CNPJ_CIA,DENOM_CIA,GRUPO_DFP,VERSAO,DT_REFER,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,94,92.693.019/...,PANATLANTIC...,DF Consolid...,1,2011-12-31,NaT,2010-12-31,-1,1,Ativo Total,True,NaN,2.825930e+08
1,94,92.693.019/...,PANATLANTIC...,DF Consolid...,1,2011-12-31,NaT,2010-12-31,-1,1.01,Ativo Circu...,True,NaN,2.193760e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17608709,518700,70.216.429/...,BRAMEX - BR...,DF Individu...,1,2013-12-31,2013-01-01,2013-12-31,0,3.99.01.03,PNB,False,NaN,2.148900e-02
17608710,518700,70.216.429/...,BRAMEX - BR...,DF Individu...,1,2013-12-31,2013-01-01,2013-12-31,0,3.99.02,Lucro Diluí...,False,NaN,0.000000e+00

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17608711 entries, 0 to 17608710
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   CD_CVM         category
 1   CNPJ_CIA       category
 2   DENOM_CIA      category
 3   GRUPO_DFP      category
 4   VERSAO         category
 5   DT_REFER       category
 6   DT_INI_EXERC   category
 7   DT_FIM_EXERC   category
 8   ORDEM_EXERC    category
 9   CD_CONTA       category
 10  DS_CONTA       category
 11  ST_CONTA_FIXA  category
 12  COLUNA_DF      category
 13  VL_CONTA       float64
dtypes: category(13), float64(1)
memory usage: 489.9 MB

In [3]:
list(range(2010,2022))

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [5]:
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
for a in zip(l1, l2):
    print(a[0])

1
2
3