In [59]:
import importlib
import pandas as pd
import context # noqa
import brfin.company
from brfin.company import Company
importlib.reload(brfin.company)
pd.options.display.max_colwidth = 20
pd.options.display.max_rows = 40

In [60]:
petro = Company(9512, fs_type='separate')
petro.assets
#petro._companies_list

Selected Start Period = 2009-12-31 00:00:00

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,3.189971e+11,4.666551e+11,4.950265e+11,5.575045e+11,6.331730e+11,6.379410e+11,6.986460e+11,6.820880e+11,7.238550e+11,8.397170e+11,1.129118e+12,1.178600e+12,1.239448e+12
1,Ativo Circulante,1.01,True,5.407578e+10,9.525842e+10,9.804314e+10,9.620237e+10,8.748000e+10,7.415000e+10,8.147900e+10,8.126400e+10,8.188300e+10,9.654100e+10,1.430140e+11,1.008630e+11,1.705190e+11
2,Caixa e Equivale...,1.01.01,True,1.679811e+10,1.999455e+10,1.885750e+10,1.739288e+10,7.917000e+09,5.094000e+09,1.655300e+10,6.267000e+09,1.305000e+09,6.334000e+09,4.322000e+09,5.180000e+09,4.853000e+09
3,Caixa e Bancos,1.01.01.01,False,6.458620e+08,4.366550e+08,6.722550e+08,6.631400e+07,3.665000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aplicações Finan...,1.01.01.02,False,1.615225e+10,1.955790e+10,1.818525e+10,1.732657e+10,7.913267e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Contrato de Conc...,1.02.04.01.01,True,1.704339e+09,7.655229e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Direitos e Conce...,1.02.04.01.02,False,NaN,7.655229e+10,7.619304e+10,7.596704e+10,3.200618e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Sistema Aplicativo,1.02.04.01.02,False,1.512146e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Softwares,1.02.04.01.03,False,NaN,1.490093e+09,1.516022e+09,1.382129e+09,1.283018e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Diferido,1.02.05,True,4.718200e+08,2.412070e+08,2.460660e+08,1.191840e+08,1.000000e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
petro = Company(9512, start_period='2015-12-31')
df = petro.assets
df

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Aplicações Finan...,1.01.02,True,3.047000e+09,2.556000e+09,6.237000e+09,4.198000e+09,3.580000e+09,3.424000e+09,2.920000e+09
4,Contas a Receber,1.01.03,True,2.168500e+10,1.554300e+10,1.644600e+10,2.226400e+10,1.516400e+10,2.458400e+10,2.556000e+10
...,...,...,...,...,...,...,...,...,...,...
38,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,1.846500e+10,2.600300e+10,3.319800e+10,3.783800e+10,4.269100e+10
39,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,1.020200e+10,8.071000e+09,6.061000e+09,3.299000e+09,2.499000e+09
40,Investimentos,1.02.02,True,1.377200e+10,9.948000e+09,1.255400e+10,1.069000e+10,2.216600e+10,1.701000e+10,1.024700e+10
41,Imobilizado,1.02.03,True,6.298310e+11,5.718760e+11,5.843570e+11,6.098290e+11,6.419490e+11,6.454340e+11,7.038680e+11
42,Intangível,1.02.04,True,1.207200e+10,1.066300e+10,7.740000e+09,1.087000e+10,7.848900e+10,7.767800e+10,1.660100e+10

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DS_CONTA       43 non-null     object
 1   CD_CONTA       43 non-null     object
 2   ST_CONTA_FIXA  43 non-null     bool
 3   2015-12-31     30 non-null     float64
 4   2016-12-31     29 non-null     float64
 5   2017-12-31     38 non-null     float64
 6   2018-12-31     29 non-null     float64
 7   2019-12-31     28 non-null     float64
 8   2020-12-31     27 non-null     float64
 9   2021-09-30     27 non-null     float64
dtypes: bool(1), float64(7), object(2)
memory usage: 3.2+ KB

In [30]:
df = petro.liabilities_and_equity
df

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Passivo Total,2,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Passivo Circulante,2.01,True,1.115720e+11,8.116700e+10,8.253500e+10,9.706800e+10,1.161470e+11,1.362870e+11,1.386640e+11
2,Obrigações Socia...,2.01.01,True,5.085000e+09,7.159000e+09,4.331000e+09,6.426000e+09,6.632000e+09,1.015000e+10,9.182000e+09
3,Fornecedores,2.01.02,True,2.488800e+10,1.878100e+10,1.907700e+10,2.451600e+10,2.257600e+10,3.564500e+10,2.950200e+10
4,Obrigações Fiscais,2.01.03,True,4.100000e+08,4.120000e+08,9.900000e+08,8.170000e+08,1.114000e+09,1.029000e+09,3.140000e+09
...,...,...,...,...,...,...,...,...,...,...
43,Capital Social R...,2.03.01,True,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
46,Outros Resultado...,2.03.08,True,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08
47,Participação dos...,2.03.09,True,3.199000e+09,2.513000e+09,5.624000e+09,6.318000e+09,3.596000e+09,2.740000e+09,6.612000e+09

In [31]:
df.sort_values('DS_CONTA').tail(10)

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
38,Plano de Pensão ...,2.02.04.02.04,False,4.761800e+10,6.999600e+10,6.942100e+10,8.501200e+10,1.032130e+11,7.545400e+10,6.383700e+10
39,Provisão para De...,2.02.04.02.05,False,3.572800e+10,3.341200e+10,4.678500e+10,5.863700e+10,7.037700e+10,9.759500e+10,9.492800e+10
35,Provisões,2.02.04,True,9.411100e+10,1.162500e+11,1.349570e+11,1.626070e+11,1.915790e+11,1.959300e+11,1.831840e+11
18,Provisões,2.01.06,True,2.556000e+09,2.672000e+09,1.025400e+10,1.663000e+10,3.577000e+09,8.049000e+09,3.744000e+09
20,Provisões Cíveis,2.01.06.01.04,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
36,Provisões Fiscai...,2.02.04.01,True,8.776000e+09,1.105200e+10,1.577800e+10,1.520200e+10,1.254600e+10,1.142700e+10,1.199000e+10
19,Provisões Fiscai...,2.01.06.01,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
33,Tributos Diferidos,2.02.03,True,9.060000e+08,8.560000e+08,3.956000e+09,2.536000e+09,7.095000e+09,1.015000e+09,8.450000e+08

In [48]:
petro.equity

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Patrimônio Líquido,2.03,True,1.650207e+11,3.073165e+11,3.304746e+11,3.287814e+11,3.481400e+11,3.088480e+11,2.547310e+11,2.502300e+11,2.639850e+11,2.772250e+11,2.955410e+11,3.084100e+11,3.690770e+11
1,Capital Social R...,2.03.01,True,7.896669e+10,2.053571e+11,2.053797e+11,2.053921e+11,2.054110e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
2,Reservas de Capital,2.03.02,True,1.937392e+09,-6.257000e+06,8.593880e+08,9.388610e+08,1.048000e+09,-4.300000e+08,2.370000e+08,1.251000e+09,2.673000e+09,2.674000e+09,2.665000e+09,2.665000e+09,-1.038000e+09
3,Contribuição Adi...,2.03.02.07,False,NaN,-6.257000e+06,8.593880e+08,9.388610e+08,1.048205e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Incentivos Fisca...,2.03.02.08,False,5.148570e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Mudança de Parti...,2.03.02.09,False,1.422535e+09,4.709940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Gastos com Emiss...,2.03.02.10,False,NaN,-4.772510e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Reservas de Lucros,2.03.04,True,8.543076e+10,1.018751e+11,1.229631e+11,1.349802e+11,1.489250e+11,1.272220e+11,9.239600e+10,7.758400e+10,7.714800e+10,9.514800e+10,1.246130e+11,1.272960e+11,1.648940e+11
8,Reserva Legal,2.03.04.01,True,1.090166e+10,1.265348e+10,1.430852e+10,1.535326e+10,1.652364e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Reserva Estatutária,2.03.04.02,True,1.294209e+09,1.421619e+09,2.448518e+09,3.475478e+09,4.502533e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserva de Reten...,2.03.04.05,True,7.212326e+10,8.645328e+10,1.048009e+11,1.147400e+11,1.264844e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Reserva de Incen...,2.03.04.07,True,1.111632e+09,1.346681e+09,1.405132e+09,1.411493e+09,1.413779e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Lucros/Prejuízos...,2.03.05,True,-1.247335e+09,NaN,NaN,-1.541320e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Ajustes de Avali...,2.03.06,True,9.652600e+07,2.870840e+08,3.457000e+08,-1.474604e+10,-1.243954e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ajustes Acumulad...,2.03.07,True,-1.633470e+08,-1.964790e+08,9.266850e+08,2.370329e+09,5.195931e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Outros Resultado...,2.03.08,True,NaN,NaN,NaN,NaN,-7.244000e+09,-2.337600e+10,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08

In [51]:
pd.to_datetime(123, errors='coerce')

Timestamp('1970-01-01 00:00:00.000000123')