In [26]:
import importlib
import pandas as pd
import context # noqa
import brfin.company
from brfin.company import Company
importlib.reload(brfin.company)
pd.options.display.max_colwidth = 20
pd.options.display.max_rows = 40

In [27]:
petro = Company(9512)
petro.assets
#petro._companies_list

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,3.504189e+11,5.168457e+11,6.000970e+11,6.690316e+11,7.529670e+11,7.933750e+11,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,7.437357e+10,1.059022e+11,1.211637e+11,1.181018e+11,1.233510e+11,1.350230e+11,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,2.903423e+10,2.941619e+10,3.574724e+10,2.762800e+10,3.717200e+10,4.423900e+10,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Caixa e Bancos,1.01.01.01,False,2.853964e+09,3.293879e+09,3.731249e+09,2.024301e+09,2.227292e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aplicações Finan...,1.01.01.02,False,2.618026e+10,2.612231e+10,3.201599e+10,2.560370e+10,3.494453e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Intangível,1.02.04,True,8.270864e+09,8.153873e+10,8.143361e+10,8.120676e+10,3.612100e+10,1.197600e+10,1.207200e+10,1.066300e+10,7.740000e+09,1.087000e+10,7.848900e+10,7.767800e+10,1.660100e+10
83,Intangíveis,1.02.04.01,True,7.346025e+09,8.063279e+10,8.048451e+10,8.026607e+10,3.518388e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Direitos e Conce...,1.02.04.01.02,False,5.606748e+09,7.895228e+10,7.880350e+10,7.870176e+10,3.368941e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Softwares,1.02.04.01.03,False,1.739277e+09,1.680513e+09,1.681011e+09,1.564311e+09,1.494470e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Goodwill,1.02.04.02,True,9.248390e+08,9.059360e+08,9.491000e+08,9.406830e+08,9.373180e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
petro = Company(9512, start_period='2015-12-31')
df = petro.assets
df

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Aplicações Finan...,1.01.02,True,3.047000e+09,2.556000e+09,6.237000e+09,4.198000e+09,3.580000e+09,3.424000e+09,2.920000e+09
4,Contas a Receber,1.01.03,True,2.168500e+10,1.554300e+10,1.644600e+10,2.226400e+10,1.516400e+10,2.458400e+10,2.556000e+10
...,...,...,...,...,...,...,...,...,...,...
38,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,1.846500e+10,2.600300e+10,3.319800e+10,3.783800e+10,4.269100e+10
39,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,1.020200e+10,8.071000e+09,6.061000e+09,3.299000e+09,2.499000e+09
40,Investimentos,1.02.02,True,1.377200e+10,9.948000e+09,1.255400e+10,1.069000e+10,2.216600e+10,1.701000e+10,1.024700e+10
41,Imobilizado,1.02.03,True,6.298310e+11,5.718760e+11,5.843570e+11,6.098290e+11,6.419490e+11,6.454340e+11,7.038680e+11
42,Intangível,1.02.04,True,1.207200e+10,1.066300e+10,7.740000e+09,1.087000e+10,7.848900e+10,7.767800e+10,1.660100e+10

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DS_CONTA       43 non-null     object
 1   CD_CONTA       43 non-null     object
 2   ST_CONTA_FIXA  43 non-null     bool
 3   2015-12-31     30 non-null     float64
 4   2016-12-31     29 non-null     float64
 5   2017-12-31     38 non-null     float64
 6   2018-12-31     29 non-null     float64
 7   2019-12-31     28 non-null     float64
 8   2020-12-31     27 non-null     float64
 9   2021-09-30     27 non-null     float64
dtypes: bool(1), float64(7), object(2)
memory usage: 3.2+ KB

In [30]:
df = petro.liabilities_and_equity
df

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Passivo Total,2,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Passivo Circulante,2.01,True,1.115720e+11,8.116700e+10,8.253500e+10,9.706800e+10,1.161470e+11,1.362870e+11,1.386640e+11
2,Obrigações Socia...,2.01.01,True,5.085000e+09,7.159000e+09,4.331000e+09,6.426000e+09,6.632000e+09,1.015000e+10,9.182000e+09
3,Fornecedores,2.01.02,True,2.488800e+10,1.878100e+10,1.907700e+10,2.451600e+10,2.257600e+10,3.564500e+10,2.950200e+10
4,Obrigações Fiscais,2.01.03,True,4.100000e+08,4.120000e+08,9.900000e+08,8.170000e+08,1.114000e+09,1.029000e+09,3.140000e+09
...,...,...,...,...,...,...,...,...,...,...
43,Capital Social R...,2.03.01,True,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
46,Outros Resultado...,2.03.08,True,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08
47,Participação dos...,2.03.09,True,3.199000e+09,2.513000e+09,5.624000e+09,6.318000e+09,3.596000e+09,2.740000e+09,6.612000e+09

In [31]:
df.sort_values('DS_CONTA').tail(10)

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
38,Plano de Pensão ...,2.02.04.02.04,False,4.761800e+10,6.999600e+10,6.942100e+10,8.501200e+10,1.032130e+11,7.545400e+10,6.383700e+10
39,Provisão para De...,2.02.04.02.05,False,3.572800e+10,3.341200e+10,4.678500e+10,5.863700e+10,7.037700e+10,9.759500e+10,9.492800e+10
35,Provisões,2.02.04,True,9.411100e+10,1.162500e+11,1.349570e+11,1.626070e+11,1.915790e+11,1.959300e+11,1.831840e+11
18,Provisões,2.01.06,True,2.556000e+09,2.672000e+09,1.025400e+10,1.663000e+10,3.577000e+09,8.049000e+09,3.744000e+09
20,Provisões Cíveis,2.01.06.01.04,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
36,Provisões Fiscai...,2.02.04.01,True,8.776000e+09,1.105200e+10,1.577800e+10,1.520200e+10,1.254600e+10,1.142700e+10,1.199000e+10
19,Provisões Fiscai...,2.01.06.01,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
33,Tributos Diferidos,2.02.03,True,9.060000e+08,8.560000e+08,3.956000e+09,2.536000e+09,7.095000e+09,1.015000e+09,8.450000e+08

In [32]:
petro.equity

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Patrimônio Líqui...,2.03,True,2.579300e+11,2.527430e+11,2.696090e+11,2.835430e+11,2.991370e+11,3.111500e+11,3.756890e+11
1,Capital Social R...,2.03.01,True,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
2,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
3,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
4,Outros Resultado...,2.03.08,True,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08
5,Participação dos...,2.03.09,True,3.199000e+09,2.513000e+09,5.624000e+09,6.318000e+09,3.596000e+09,2.740000e+09,6.612000e+09

In [51]:
# Using @property decorator
class Celsius:
    def __init__(self, temperature=-1000):
        self.temperature = temperature

    def to_fahrenheit(self):
        return (self.temperature * 1.8) + 32

    @property
    def temperature(self):
        print("Getting value...")
        return self._temperature

    @temperature.setter
    def temperature(self, value):
        print("Setting value...")
        if value < -273.15:
            raise ValueError("Temperature below -273 is not possible")
        self._temperature = value


# create an object
human = Celsius(-1007)

print(human.temperature)

print(human.to_fahrenheit())

coldest_thing = Celsius(-300)

Setting value...

ValueError: Temperature below -273 is not possible