In [103]:
import importlib
import pandas as pd
import context # noqa
import brfinance.finance
from brfinance.finance import Finance
importlib.reload(brfinance.finance)
pd.options.display.max_colwidth = 50
pd.options.display.max_rows = 40

In [108]:
prio = Finance(22187, report_type='consolidated', unit=1_000_000, first_period='2016-01-01')
prio

Selected first_period = 2016-01-01
Selected last_period = 2200-12-31

In [109]:
prio.info

{'CVM number': 22187,
 'Fiscal Code': '10.629.105/0001-68',
 'Name': 'PETRO RIO S.A.',
 'Annual Reports': ['2010-12-31',
  '2014-12-31',
  '2021-12-31',
  '2011-12-31',
  '2019-12-31',
  '2015-12-31',
  '2018-12-31',
  '2020-12-31',
  '2013-12-31',
  '2012-12-31',
  '2016-12-31',
  '2017-12-31'],
 'Last Quarterly Report': '2021-09-30'}

In [110]:
prio.assets

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Ativo Total,1,True,1082.369,1270.244,1516.180,5489.751,6792.833,12221.416
1,Ativo Circulante,1.01,True,781.580,849.655,1035.616,1513.090,1841.415,6106.295
2,Caixa e Equivalentes de Caixa,1.01.01,True,24.793,92.445,186.993,459.396,809.273,970.681
3,Aplicações Financeiras,1.01.02,True,546.507,511.863,607.441,226.301,22.793,3680.185
4,Aplicações Financeiras Avaliadas a Valor Justo,1.01.02.01,True,546.507,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
38,Direito de Uso em Arrendamento,1.02.03.02,True,NaN,NaN,NaN,452.067,369.836,425.867
39,Imobilizado em Andamento,1.02.03.03,True,NaN,NaN,29.794,361.387,384.380,501.245
40,Intangível,1.02.04,True,182.583,260.548,140.949,689.529,956.866,1742.326
41,Intangíveis,1.02.04.01,True,182.583,260.548,140.949,689.529,956.866,1742.326
42,Contrato de Concessão,1.02.04.01.01,True,182.583,260.548,140.949,689.529,956.866,1742.326

In [111]:
prio.show_accounts = 2
prio.assets

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Ativo Total,1,True,1082.369,1270.244,1516.180,5489.751,6792.833,12221.416
1,Ativo Circulante,1.01,True,781.580,849.655,1035.616,1513.090,1841.415,6106.295
2,Caixa e Equivalentes de Caixa,1.01.01,True,24.793,92.445,186.993,459.396,809.273,970.681
3,Aplicações Financeiras,1.01.02,True,546.507,511.863,607.441,226.301,22.793,3680.185
4,Contas a Receber,1.01.03,True,30.680,62.046,34.932,374.598,386.165,915.033
5,Estoques,1.01.04,True,33.192,41.174,58.298,125.474,194.666,217.536
6,Tributos a Recuperar,1.01.06,True,69.331,59.492,67.011,116.773,124.321,85.839
7,Despesas Antecipadas,1.01.07,True,2.696,3.106,1.659,10.333,25.594,9.760
8,Outros Ativos Circulantes,1.01.08,True,74.381,79.529,79.282,200.215,278.603,227.261
9,Ativo Não Circulante,1.02,True,300.789,420.589,480.564,3976.661,4951.418,6115.121
10,Ativo Realizável a Longo Prazo,1.02.01,True,73.972,98.755,69.268,232.542,265.703,397.883
11,Imobilizado,1.02.03,True,44.234,61.286,270.347,3054.590,3728.849,3974.912
12,Intangível,1.02.04,True,182.583,260.548,140.949,689.529,956.866,1742.326

In [112]:
prio.liabilities_and_equity

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Passivo Total,2,True,1082.369,1270.244,1516.180,5489.751,6792.833,12221.416
1,Passivo Circulante,2.01,True,79.620,216.852,370.986,1669.783,2149.449,1085.997
2,Obrigações Sociais e Trabalhistas,2.01.01,True,10.151,9.979,14.923,39.359,54.857,131.475
3,Fornecedores,2.01.02,True,50.176,70.536,73.258,87.232,236.889,292.204
4,Obrigações Fiscais,2.01.03,True,13.494,20.076,37.010,83.441,87.741,183.678
5,Empréstimos e Financiamentos,2.01.04,True,0.688,96.632,222.743,1447.355,1772.611,106.458
6,Outras Obrigações,2.01.05,True,5.111,19.629,23.052,12.396,NaN,376.684
7,Passivos sobre Ativos Não-Correntes a Venda e ...,2.01.07,True,NaN,NaN,NaN,NaN,-2.649,-4.502
8,Passivo Não Circulante,2.02,True,168.597,170.262,163.020,1654.867,1492.121,4515.170
9,Empréstimos e Financiamentos,2.02.01,True,31.431,31.391,95.084,810.703,763.208,3794.835
10,Outras Obrigações,2.02.02,True,12.828,13.456,14.057,14.918,14.600,0.762
11,Tributos Diferidos,2.02.03,True,19.275,36.177,2.311,NaN,NaN,NaN
12,Provisões,2.02.04,True,105.063,89.238,53.879,829.246,714.313,719.573
13,Patrimônio Líquido Consolidado,2.03,True,834.152,883.130,982.174,2165.101,3151.263,6620.249
14,Capital Social Realizado,2.03.01,True,3265.216,3265.256,3273.114,3316.411,3326.900,5303.644
15,Reservas de Capital,2.03.02,True,100.875,73.852,67.094,228.027,321.359,348.886
16,Reservas de Lucros,2.03.04,True,NaN,NaN,NaN,NaN,NaN,255.381
17,Lucros/Prejuízos Acumulados,2.03.05,True,-2598.628,-2547.778,-2372.777,-1530.431,-1077.665,NaN
18,Ajustes de Avaliação Patrimonial,2.03.06,True,4.985,26.698,-79.314,NaN,NaN,NaN
19,Ajustes Acumulados de Conversão,2.03.07,True,61.704,65.102,94.057,150.335,579.820,712.338
20,Participação dos Acionistas Não Controladores,2.03.09,True,NaN,NaN,NaN,0.759,0.849,NaN

In [113]:
prio.operating_performance

,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
CD_CONTA,,,,,,
1,1082.369000,1270.244000,1516.180000,5489.751000,6792.833000,12221.416000
2.03,834.152000,883.130000,982.174000,2165.101000,3151.263000,6620.249000
3.11,241.622000,50.851000,206.296000,842.346000,452.913000,1333.046000
return_on_assets,0.223234,0.040032,0.136063,0.153440,0.066675,0.109075
return_on_equity,0.289662,0.057580,0.210040,0.389056,0.143724,0.201359

In [114]:
prio.earnings_per_share

AttributeError: 'NaTType' object has no attribute 'tz'

In [115]:
prio.show_accounts = 1
prio.income

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Receita de Venda de Bens e/ou Serviços,3.01,True,397.871,533.922,848.920,1644.346,1904.185,4396.003
1,Custo dos Bens e/ou Serviços Vendidos,3.02,True,-408.468,-435.064,-524.489,-940.379,-1286.926,-1883.358
2,Resultado Bruto,3.03,True,-10.597,98.858,324.431,703.967,617.259,2512.645
3,Despesas/Receitas Operacionais,3.04,True,269.681,-56.649,-137.816,174.289,325.490,-391.202
4,Resultado Antes do Resultado Financeiro e dos ...,3.05,True,259.084,42.209,186.615,878.256,942.749,2121.443
5,Resultado Financeiro,3.06,True,-6.133,6.449,50.870,-337.254,-458.669,-622.322
6,Resultado Antes dos Tributos sobre o Lucro,3.07,True,252.951,48.658,237.485,541.002,484.080,1499.121
7,Imposto de Renda e Contribuição Social sobre o...,3.08,True,-11.329,2.193,-31.189,301.344,-31.167,-166.075
8,Resultado Líquido das Operações Continuadas,3.09,True,241.622,50.851,206.296,842.346,452.913,1333.046
9,Lucro/Prejuízo Consolidado do Período,3.11,True,241.622,50.851,206.296,842.346,452.913,1333.046

In [117]:
prio.cash_flow

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Caixa Líquido Atividades Operacionais,6.01,True,114.000,49.087,246.428,444.671,1617.546,2183.736
1,Caixa Líquido Atividades de Investimento,6.02,True,-391.101,2.624,-281.433,-1383.308,-585.142,-4743.320
2,Caixa Líquido Atividades de Financiamento,6.03,True,-5.699,13.861,121.033,1192.303,-713.295,2627.429
3,Variação Cambial s/ Caixa e Equivalentes,6.04,True,23.642,2.080,8.520,18.738,30.767,93.563
4,Aumento (Redução) de Caixa e Equivalentes,6.05,True,-259.158,67.652,94.548,272.404,349.876,161.408

In [118]:
prio.valuation

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
1,Ativo Circulante,1.01,True,781.580,849.655,1035.616,1513.090,1841.415,6106.295
4,Passivo Circulante,2.01,True,79.620,216.852,370.986,1669.783,2149.449,1085.997
5,Passivo Não Circulante,2.02,True,168.597,170.262,163.020,1654.867,1492.121,4515.170
6,Patrimônio Líquido Consolidado,2.03,True,834.152,883.130,982.174,2165.101,3151.263,6620.249
7,Receita de Venda de Bens e/ou Serviços,3.01,True,397.871,533.922,848.920,1644.346,1904.185,4396.003
8,Custo dos Bens e/ou Serviços Vendidos,3.02,True,-408.468,-435.064,-524.489,-940.379,-1286.926,-1883.358
9,Resultado Bruto,3.03,True,-10.597,98.858,324.431,703.967,617.259,2512.645
10,Despesas/Receitas Operacionais,3.04,True,269.681,-56.649,-137.816,174.289,325.490,-391.202
11,Resultado Antes do Resultado Financeiro e dos ...,3.05,True,259.084,42.209,186.615,878.256,942.749,2121.443
12,Resultado Financeiro,3.06,True,-6.133,6.449,50.870,-337.254,-458.669,-622.322
13,Resultado Antes dos Tributos sobre o Lucro,3.07,True,252.951,48.658,237.485,541.002,484.080,1499.121
14,Imposto de Renda e Contribuição Social sobre o...,3.08,True,-11.329,2.193,-31.189,301.344,-31.167,-166.075
15,Resultado Líquido das Operações Continuadas,3.09,True,241.622,50.851,206.296,842.346,452.913,1333.046
16,Lucro/Prejuízo Consolidado do Período,3.11,True,241.622,50.851,206.296,842.346,452.913,1333.046