In [27]:
import importlib
import pandas as pd
import context # noqa
import brfin.finance
from brfin.finance import Finance
importlib.reload(brfin.finance)
pd.options.display.max_colwidth = 20
pd.options.display.max_rows = 40

In [28]:
petro = Finance(9512, report_type='separate', min_end_period='2015-12-31', max_end_period='2022-12-31')
petro.assets
#petro._companies_list

Selected min_end_period = 2015-12-31
Selected max_end_period = 2022-12-31

AttributeError: 'NaTType' object has no attribute 'tz'

In [4]:
petro = Finance(9512, min_end_period='2015-12-31')
df = petro.assets
df

Selected min_end_period = 2015-12-31
Selected max_end_period = 2200-12-31

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Aplicações Finan...,1.01.02,True,3.047000e+09,2.556000e+09,6.237000e+09,4.198000e+09,3.580000e+09,3.424000e+09,2.920000e+09
4,Contas a Receber,1.01.03,True,2.168500e+10,1.554300e+10,1.644600e+10,2.226400e+10,1.516400e+10,2.458400e+10,2.556000e+10
...,...,...,...,...,...,...,...,...,...,...
38,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,1.846500e+10,2.600300e+10,3.319800e+10,3.783800e+10,4.269100e+10
39,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,1.020200e+10,8.071000e+09,6.061000e+09,3.299000e+09,2.499000e+09
40,Investimentos,1.02.02,True,1.377200e+10,9.948000e+09,1.255400e+10,1.069000e+10,2.216600e+10,1.701000e+10,1.024700e+10
41,Imobilizado,1.02.03,True,6.298310e+11,5.718760e+11,5.843570e+11,6.098290e+11,6.419490e+11,6.454340e+11,7.038680e+11
42,Intangível,1.02.04,True,1.207200e+10,1.066300e+10,7.740000e+09,1.087000e+10,7.848900e+10,7.767800e+10,1.660100e+10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DS_CONTA       43 non-null     object
 1   CD_CONTA       43 non-null     object
 2   ST_CONTA_FIXA  43 non-null     bool
 3   2015-12-31     30 non-null     float64
 4   2016-12-31     29 non-null     float64
 5   2017-12-31     38 non-null     float64
 6   2018-12-31     29 non-null     float64
 7   2019-12-31     28 non-null     float64
 8   2020-12-31     27 non-null     float64
 9   2021-09-30     27 non-null     float64
dtypes: bool(1), float64(7), object(2)
memory usage: 3.2+ KB

In [5]:
df = petro.liabilities_and_equity
df

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Passivo Total,2,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Passivo Circulante,2.01,True,1.115720e+11,8.116700e+10,8.253500e+10,9.706800e+10,1.161470e+11,1.362870e+11,1.386640e+11
2,Obrigações Socia...,2.01.01,True,5.085000e+09,7.159000e+09,4.331000e+09,6.426000e+09,6.632000e+09,1.015000e+10,9.182000e+09
3,Fornecedores,2.01.02,True,2.488800e+10,1.878100e+10,1.907700e+10,2.451600e+10,2.257600e+10,3.564500e+10,2.950200e+10
4,Obrigações Fiscais,2.01.03,True,4.100000e+08,4.120000e+08,9.900000e+08,8.170000e+08,1.114000e+09,1.029000e+09,3.140000e+09
...,...,...,...,...,...,...,...,...,...,...
43,Capital Social R...,2.03.01,True,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
46,Outros Resultado...,2.03.08,True,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08
47,Participação dos...,2.03.09,True,3.199000e+09,2.513000e+09,5.624000e+09,6.318000e+09,3.596000e+09,2.740000e+09,6.612000e+09

In [6]:
df.sort_values('DS_CONTA').tail(10)

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
38,Plano de Pensão ...,2.02.04.02.04,False,4.761800e+10,6.999600e+10,6.942100e+10,8.501200e+10,1.032130e+11,7.545400e+10,6.383700e+10
39,Provisão para De...,2.02.04.02.05,False,3.572800e+10,3.341200e+10,4.678500e+10,5.863700e+10,7.037700e+10,9.759500e+10,9.492800e+10
35,Provisões,2.02.04,True,9.411100e+10,1.162500e+11,1.349570e+11,1.626070e+11,1.915790e+11,1.959300e+11,1.831840e+11
18,Provisões,2.01.06,True,2.556000e+09,2.672000e+09,1.025400e+10,1.663000e+10,3.577000e+09,8.049000e+09,3.744000e+09
20,Provisões Cíveis,2.01.06.01.04,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
36,Provisões Fiscai...,2.02.04.01,True,8.776000e+09,1.105200e+10,1.577800e+10,1.520200e+10,1.254600e+10,1.142700e+10,1.199000e+10
19,Provisões Fiscai...,2.01.06.01,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
33,Tributos Diferidos,2.02.03,True,9.060000e+08,8.560000e+08,3.956000e+09,2.536000e+09,7.095000e+09,1.015000e+09,8.450000e+08

In [7]:
petro.equity

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Patrimônio Líqui...,2.03,True,2.579300e+11,2.527430e+11,2.696090e+11,2.835430e+11,2.991370e+11,3.111500e+11,3.756890e+11
1,Capital Social R...,2.03.01,True,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
2,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
3,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
4,Outros Resultado...,2.03.08,True,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08
5,Participação dos...,2.03.09,True,3.199000e+09,2.513000e+09,5.624000e+09,6.318000e+09,3.596000e+09,2.740000e+09,6.612000e+09

In [33]:
cols = petro._df_main.columns
df = petro._df_main[cols[3:-2]]
df

,report_period,report_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,annual,separate,2015-12-31,1,2015-01-01,2015-12-31,0,3.01,Receita de Venda...,True,NaN,2.510230e+11
1,annual,separate,2016-12-31,2,2015-01-01,2015-12-31,-1,3.01,Receita de Venda...,True,NaN,2.510230e+11
2,annual,separate,2016-12-31,2,2016-01-01,2016-12-31,0,3.01,Receita de Venda...,True,NaN,2.230670e+11
3,annual,separate,2017-12-31,2,2016-01-01,2016-12-31,-1,3.01,Receita de Venda...,True,NaN,2.230670e+11
4,annual,separate,2017-12-31,2,2017-01-01,2017-12-31,0,3.01,Receita de Venda...,True,NaN,2.279640e+11
5,annual,separate,2018-12-31,1,2017-01-01,2017-12-31,-1,3.01,Receita de Venda...,True,NaN,2.279640e+11
6,annual,separate,2018-12-31,1,2018-01-01,2018-12-31,0,3.01,Receita de Venda...,True,NaN,2.810990e+11
7,annual,separate,2019-12-31,1,2018-01-01,2018-12-31,-1,3.01,Receita de Venda...,True,NaN,2.810990e+11
8,annual,separate,2019-12-31,1,2019-01-01,2019-12-31,0,3.01,Receita de Venda...,True,NaN,2.891560e+11
9,quarterly,separate,2020-03-31,1,2019-01-01,2019-03-31,-1,3.01,Receita de Venda...,True,NaN,6.423300e+10
10,quarterly,separate,2020-03-31,1,2020-01-01,2020-03-31,0,3.01,Receita de Venda...,True,NaN,6.810900e+10
11,quarterly,separate,2020-06-30,1,2019-01-01,2019-06-30,-1,3.01,Receita de Venda...,True,NaN,1.353440e+11
12,quarterly,separate,2020-06-30,1,2019-04-01,2019-06-30,-1,3.01,Receita de Venda...,True,NaN,7.111100e+10
13,quarterly,separate,2020-06-30,1,2020-01-01,2020-06-30,0,3.01,Receita de Venda...,True,NaN,1.170400e+11
14,quarterly,separate,2020-06-30,1,2020-04-01,2020-06-30,0,3.01,Receita de Venda...,True,NaN,4.893100e+10
15,quarterly,separate,2020-09-30,1,2019-01-01,2019-09-30,-1,3.01,Receita de Venda...,True,NaN,2.085380e+11
16,quarterly,separate,2020-09-30,1,2019-07-01,2019-09-30,-1,3.01,Receita de Venda...,True,NaN,7.319400e+10
17,quarterly,separate,2020-09-30,1,2020-01-01,2020-09-30,0,3.01,Receita de Venda...,True,NaN,1.832220e+11
18,quarterly,separate,2020-09-30,1,2020-07-01,2020-09-30,0,3.01,Receita de Venda...,True,NaN,6.618200e+10
19,annual,separate,2020-12-31,2,2019-01-01,2019-12-31,-1,3.01,Receita de Venda...,True,NaN,2.891560e+11
20,annual,separate,2020-12-31,2,2020-01-01,2020-12-31,0,3.01,Receita de Venda...,True,NaN,2.539930e+11
21,quarterly,separate,2021-03-31,1,2020-01-01,2020-03-31,-1,3.01,Receita de Venda...,True,NaN,6.810900e+10
22,quarterly,separate,2021-03-31,1,2021-01-01,2021-03-31,0,3.01,Receita de Venda...,True,NaN,8.881600e+10
23,quarterly,separate,2021-06-30,1,2020-01-01,2020-06-30,-1,3.01,Receita de Venda...,True,NaN,1.170400e+11
24,quarterly,separate,2021-06-30,1,2020-04-01,2020-06-30,-1,3.01,Receita de Venda...,True,NaN,4.893100e+10
25,quarterly,separate,2021-06-30,1,2021-01-01,2021-06-30,0,3.01,Receita de Venda...,True,NaN,1.948600e+11
26,quarterly,separate,2021-06-30,1,2021-04-01,2021-06-30,0,3.01,Receita de Venda...,True,NaN,1.060440e+11
27,quarterly,separate,2021-09-30,1,2020-01-01,2020-09-30,-1,3.01,Receita de Venda...,True,NaN,1.832220e+11
28,quarterly,separate,2021-09-30,1,2020-07-01,2020-09-30,-1,3.01,Receita de Venda...,True,NaN,6.618200e+10
29,quarterly,separate,2021-09-30,1,2021-01-01,2021-09-30,0,3.01,Receita de Venda...,True,NaN,3.126460e+11
30,quarterly,separate,2021-09-30,1,2021-07-01,2021-09-30,0,3.01,Receita de Venda...,True,NaN,1.177860e+11

In [34]:
last_fs = df['DT_FIM_EXERC'].max()
last_fs

Timestamp('2021-09-30 00:00:00')

In [39]:
df.query('DT_FIM_EXERC == @last_fs')['report_period'].iloc[0]

'quarterly'

In [40]:
df.query('DT_FIM_EXERC == @last_fs')

,report_period,report_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
29,quarterly,separate,2021-09-30,1,2021-01-01,2021-09-30,0,3.01,Receita de Venda...,True,NaN,3.126460e+11
30,quarterly,separate,2021-09-30,1,2021-07-01,2021-09-30,0,3.01,Receita de Venda...,True,NaN,1.177860e+11